/* || General setup */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  min-width: 800px;
  margin: 0 auto;
  background-color: #3498db;
}

/* || typography */

h1,
h2,
h3 {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
}

p,
input,
li {
  font-family: "Roboto Condensed", sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
  font-weight: 100;
}
p,
li {
  font-size: 1.6rem;
  line-height: 1.5rem;
  list-style-type: none;
}

/* || header layout */
body > * {
  background-color: #3498db;
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

/* || main layout */
.wrapper li,
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper > li > label,
.wrapper li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.wrapper > li > label + *,
.container {
  flex: 1 0 220px;
}
.wrapper > li > input, textarea {
  padding: 1%;
  margin-top: 1%;
  border: none;
}

.wrapper li button:hover {
  background: #2ecc71;
  color: #ecf0f1;
}
.wrapper li button{
  padding: 8px 16px;
  margin-top: 1%;
  border: none;
  background: #ecf0f1;
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
  align-items: flex-start;
}
.container li {
  width: 100px;
}
.container {
  justify-content: space-between;
}
