/* || General setup */
* {
  margin: 0;
}
.header {
  font-family: "Baloo Tammudu 2", cursive;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #16405c;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px;
}

body {
  min-width: 375px;
  margin: 0 auto;
  background-color: #84c8f5;
}

.wrapper {
  background-color: #84c8f5;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.profile p {
  font-weight: 500;
  font-size: 1.25rem;
  background-color: #ecf0f1;
  padding: 15px;
  border: solid 1px transparent;
}

.profile {
  margin-right: 15px;
  padding: 20px 0;
  align-self: flex-start;
  justify-content: center;
}
.profile img {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  width: 195px;
}
.roles {
  width: 65%;
  margin-top: 15px;
  padding: 10px;
  background-color: #ecf0f1;
}

/* || header layout */
.header img {
  display: block;
  height: 75px;
  width: 100px;
  padding-top: 20.15px;
  border-radius: 0px;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

/* || typography */

h1,
h2,
h3 {
  font-family: "Baloo 2", cursive;
  color: #324b5c;
}

h1 {
  color: #84c8f5;
}

p,
input,
li {
  font-family: "Roboto Condensed", sans-serif;
  color: #324b5c;
}

h1 {
  font-family: "Baloo 2", cursive;
  font-size: 4rem;
  text-shadow: 2px 2px 10px black;
  font-weight: 600;
}

h2 {
  font-family: "Baloo 2", cursive;
  font-weight: 600;
  font-size: 2.5rem;
  color: #324b5c;
}

ol li h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

/* || img layout */
img {
  border: 1px;
  border-radius: 4px;
  border-width: 1px;
}

/* Media Rules*/
@media screen and (max-width: 1000px) {
  .profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    margin-bottom: 15px;
    margin-right: 0px;
    align-items: center;
  }
  .profile p {
    margin: 15px;
  }
  .header {
    justify-content: space-evenly;
  }

  .container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  img {
    border: 1px;
    border-radius: 4px;
    border-width: 1px;
  }

  h1 {
    font-weight: 500;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
  }
  ol li h2 {
    font-size: 1rem;
    font-weight: 400;
  }
}