/* || General setup */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  min-width: 800px;
  margin: 0 auto;
  background-color: #3498db;
}

/* || header layout */

.header {
  font-family: 'Baloo 2', cursive;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  font-weight: 800;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}